@import 'styles/settings';

.c-dashboard-widget-legend {
  border-bottom: solid 1px rgba($white, 0.13);
  padding: 31px 42px 21px;
  display: flex;
  flex-wrap: wrap;
}

.dashboard-widget-key-item {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  flex: 1;
  padding-right: 10px;
  max-width: 120px;
  margin-bottom: 10px;

  .dashboard-widget-color-span {
    border-radius: 2px;
    min-width: 22px;
  }

  .column {
    margin-top: 15px;
  }

  span {
    height: 4px;
    width: 22px;
  }

  p {
    font-family: $font-family-1;
    font-size: 13px;
    font-weight: $font-weight-bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: -0.8px;
    color: $white;
    text-transform: uppercase;
    margin: 0 0 0 8px;
  }

  .key-item-value {
    text-transform: none;
  }
}